   
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  *
  {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
  
  }
  body{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: white;
      background-size: cover;
      background-position: center;
  }
  .wrapper {
   
      width: 400px;
      background: transparent;
      /* border:2px solid rgba(0, 0, 0, 0.2); */
      backdrop-filter:blur(20px);
      box-shadow: 0 0 10px rgba(0 , 0 , 0 , .2);
      color: black;
      border-radius: 10px;
      padding: 30px 40px;
      margin: 0px 20px;
  
  }
  .wrapper h1{
      font-size: 36px;
      text-align: center;
  }
  .wrapper .input-box {
      position: relative;
      width: 100%;
      height: 50px;
      margin: 30px 0;
  }
  
  .input-box input{
      width: 100%;
      height: 100%;
      background: transparent;
      
      outline: none;
      border: 2px solid rgba(0, 0, 0, 0.2);
      border-radius: 40px;
      font-size: 16px;
      color: black;
      padding: 20px 45px 20px 20px;
  }
  .input-box input::placeholder{
      color: black;
  }
  .input-box i{
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 25px;
  
  }
  .passdiv i{
      position: absolute;
  }
  .inactive{
      display: none;
  }
  .wrapper .lgnbtn{
      width: 100%;
      height: 45px;
      border-radius: 40px;
      border: none;
      outline: none;
      background: rgb(0, 64, 255);
      box-shadow: 0 0 10px rgba(0 , 0 , 0 , .1);
      cursor: pointer;
      font-size: 16px;
      color: white;
      font-weight: 600;
  }
  .wrapper .lgnbtn:hover{
      background: rgb(22, 80, 255);
  }
  @media (width < 400px) {
      .wrapper{
          padding: 30px 15px;
      }
      .wrapper .input-box {
      position: relative;
      width: 100%;
      height: 35px;
      margin: 20px 0;
  }
  .input-box i{
      position: absolute;
      right: 15px;
      top: 53%;
      transform: translateY(-50%);
      font-size: 20px;
  
  }
  }


  /* loader css */
.circle-container {
    position: absolute;
    display: none; 
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

.backdrop {
    position: fixed;
    height: 160%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

.circle-svg {
    position: fixed;
    background-color: cyan;
    padding: 10px;
    border-top: 10px solid rgb(255, 255, 255);
    border-bottom: 10px solid black;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    height: 100px;
    animation: rotate 3s linear infinite; 
}

.loadingText{
   
    position: fixed;
    font-weight: bold;
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: transform 1.5s ease-in-out infinite;
}
.loadingText:hover{
   transform: scale(1.3);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
